*.iml
.gradle
.idea
.DS_Store
captures
.externalNativeBuild
.cxx
local.properties
xcuserdata
.kotlin
KompasIdLibrary.xcframework.zip
androidApp/build/intermediates
androidApp/build/kotlin
androidApp/build/outputs/logs
androidApp/build/tmp
xcode-version.txt
*.klib
shared/build
shared-release.aar
iosApp/Podfile.lock
iosApp/Pods
build/reports
