*.iml
.gradle
.idea
.DS_Store
captures
.externalNativeBuild
.cxx
local.properties
xcuserdata
.kotlin
Shared.xcframework.zip
androidApp/build/intermediates
androidApp/build/kotlin
androidApp/build/outputs/logs
androidApp/build/tmp
shared/build/.transforms
shared/build/intermediates
shared/build/kotlin
shared/build/tmp
shared/build/outputs/logs
shared/build/bin
build/reports
xcode-version.txt
*.klib
shared/build/SharedXCFrameworkTemp
shared/build/skie
shared/build/XCFrameworks
shared/build/xcode-frameworks
